@page
@model app.Pages.Tasks.StatsModel
@{
    ViewData["Title"] = "Stats - Tasks";
    ViewData["Heading"] = "Stats";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tasks/Index">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page">Stats</li>
    </ol>
}

<div id="week-graph"></div>

<script src="~/lib/plotly.min.js" asp-append-version="true"></script>
<script>
    Plotly.newPlot("week-graph", [
        {
            name: "Delta",
            type: "scatter",
            x: [@Html.Raw(string.Join(",",Model.Weeks.Select(w => $"\"{w.Date.ToString("o")}\"")))],
            y: [@string.Join(",",Model.Weeks.Select(w => w.Delta))],
        },
        {
            name: "Created Important",
            type: "bar",
            x: [@Html.Raw(string.Join(",",Model.Weeks.Select(w => $"\"{w.Date.ToString("o")}\"")))],
            y: [@string.Join(",",Model.Weeks.Select(w => w.CreatedImportant))],
        },
        {
            name: "Created Unimportant",
            type: "bar",
            x: [@Html.Raw(string.Join(",",Model.Weeks.Select(w => $"\"{w.Date.ToString("o")}\"")))],
            y: [@string.Join(",",Model.Weeks.Select(w => w.CreatedUnimportant))],
        },
        {
            name: "Completed Important",
            type: "bar",
            x: [@Html.Raw(string.Join(",",Model.Weeks.Select(w => $"\"{w.Date.ToString("o")}\"")))],
            y: [@string.Join(",",Model.Weeks.Select(w => -w.CompletedImportant))],
        },
        {
            name: "Completed Unimportant",
            type: "bar",
            x: [@Html.Raw(string.Join(",",Model.Weeks.Select(w => $"\"{w.Date.ToString("o")}\"")))],
            y: [@string.Join(",",Model.Weeks.Select(w => -w.CompletedUnimportant))],
        },
    ], {
        responsive: true,
        barmode: 'relative',
    })
</script>

<table>
    <thead>
        <tr>
            <th rowspan="2">Date</th>
            <th colspan="2">Created</th>
            <th colspan="2">Completed</th>
            <th rowspan="2">Delta</th>
        </tr>
        <tr>
            <th>Important</th>
            <th>Unimportant</th>
            <th>Important</th>
            <th>Unimportant</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var week in Model.Weeks)
        {
            <tr>
                <td>@week.Date.ToString("yyyy'-'MM'-'dd")</td>
                <td>@week.CreatedImportant</td>
                <td>@week.CreatedUnimportant</td>
                <td>@week.CompletedImportant</td>
                <td>@week.CompletedUnimportant</td>
                <td>@week.Delta</td>
            </tr>
        }
    </tbody>
</table>
