@model app.Pages.Microsoft.Tasks.IndexModel.DisplayTaskList

@if (Model.NameEmoji.Length > 0)
{
    <li class="emoji-list-item">
        <a asp-page="/Microsoft/Tasks/List" asp-route-list="@Model.Id"><span
            class="emoji-icon">@Model.NameEmoji</span>@Model.NameText</a>
        (<a asp-page="/Microsoft/Tasks/List" asp-page-handler="Tree" asp-route-list="@Model.Id">tree</a>)
    </li>
}
else
{
    <li>
        <a asp-page="/Microsoft/Tasks/List" asp-route-list="@Model.Id">@Model.NameText</a>
        (<a asp-page="/Microsoft/Tasks/List" asp-page-handler="Tree" asp-route-list="@Model.Id">tree</a>)
    </li>
}
