@model app.Models.TaskListModel

@if (Model.Emoji.Length > 0)
{
    <li class="emoji-list-item">
        <a asp-page="/Tasks/List" asp-page-handler="List" asp-route-list="@Model.Id"><span
            class="emoji-icon">@Model.Emoji</span>@Model.Name</a>
        (<a asp-page="/Tasks/List" asp-page-handler="Tree" asp-route-list="@Model.Id">tree</a>)
    </li>
}
else
{
    <li>
        <a asp-page="/Tasks/List" asp-page-handler="List" asp-route-list="@Model.Id">@Model.Name</a>
        (<a asp-page="/Tasks/List" asp-page-handler="Tree" asp-route-list="@Model.Id">tree</a>)
    </li>
}
