@page "{handler?}"
@model app.Pages.Microsoft.Tasks.ListModel
@{
    ViewData["Title"] = Model.Title + " - Tasks - Microsoft";
    ViewData["Heading"] = Model.Title;
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Tasks/Index">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
}

<label class="tasks-show-completed"><input type="checkbox"> Show completed tasks</label>

<ul class="tasks list-unstyled m-0">
    @foreach (var task in Model.Tasks)
    {
        <li class="d-flex @task.Classes">
            @if (task.IsCompleted) { <i class="px-1 bi bi-check-circle-fill text-green"></i> } else { <i class="px-1 bi bi-circle text-grey"></i> }
            @if (task.IsImportant) { <i class="px-1 bi bi-star-fill text-blue"></i> } else { <i class="px-1 bi bi-star text-grey"></i> }
            <span class="px-1 flex-fill text-truncate">@task.Title</span>
            @if (task.Completed != null)
            {
                <span class="px-1 flex-shrink-0 datetime-local" data-ts="@task.Completed?.ToString("o")"></span>
            }
        </li>
        @if (Model.Nested && task.NestedTag != null)
        {
            <div hx-get="@task.NestedUrl" hx-trigger="load" hx-select=".tasks" class="task-children ml-5">
                <div class="w-50 bg-light rounded-pill">&nbsp;</div>
            </div>
        }
    }
</ul>

<script src="~/js/pages/task-list.js" type="module" asp-append-version="true"></script>
